
.accountView{
    padding: 1rem;
    margin-bottom: 4rem;
}

.accountView h2{
    margin: 3rem 1rem;
}

.infoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75vw;
    margin: auto;
}

.infoWrapper button{
    margin: 2rem 0;
}

.accountInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    padding: 4rem 0;
}

.accountInfo img{
    width: 9rem;
    height: 9rem;
    border-radius: 2rem;
}


.userLogin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    width: 75vw;
}

.userLogin input{
    height: 2rem;
}

.testUserWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 0;
}

.testUserWrapper p{
    line-height: 1rem;
    font-size: 0.8rem;
    margin: 0.2rem;
    text-align: left;
}