.articleWrapper{
    margin: 1rem 1.5rem 5rem;
}

.articleTitle{
    font-size: 1.8rem;
    margin: 0.8rem 0;
}

.flexWrapper{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 0;
}

.flexWrapper p{
    margin: 0 0 1rem;
}

.articleImg{
    width: 100%;
}

.votingWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.votingWrapper button{
    background-color: white;
    color: black;
    font-size: x-large;
    font-weight: bold;
    height: 3.5rem;
    width: 33%;
    box-shadow: none;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
}

.commentLogo{
    width: 2.2rem;
}

.articleLogo{
    width: 1.8rem;
}

.commentCount{
    background-color: rgb(251, 99, 11);
    opacity: 80%;
    border-radius: 6rem;
    width: 1.5rem;
    height: 1.4rem;
    line-height: 1.5rem;
    color: white;
    font-size: 0.8rem;
    z-index: 10;
}

.downButton{
    border-right: 0.4px solid grey;
}

.upButton{
    border-left: 0.4px solid grey;
}

.articleBody{
    line-height: 1.5rem;
    margin: 0;
}

.commentSection{
    display: flex;
    flex-direction: column;
}

.commentInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

.commentInput textarea{
    width: 100%;
    margin: 0 0.5rem 0 0;
    padding: 10px 10px 0;
    resize: none;
    height: 1.5rem;
}

.commentInput button{
    padding: 0.5rem 1rem;
}

.positive{
    color: rgb(251, 99, 11);
    font-size: 1.2rem;
}


@media only screen and (min-width: 768px){
    .articleWrapper{
        max-width: 55rem;
        margin: 4rem auto;
        padding: 0 4rem;
    }
    .flexWrapper{
        margin: auto;
        flex-direction: row;
    }
}