.exploreWrapper{
    margin: 1rem 1.5rem;
}


.titleWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8rem;
}

.userAvatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
}

.articleWrapper{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
}

.filters{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0.5rem;
}

select{
    height: 2rem;
    width: 40vw;
}

.topicSelect button:active {
    box-shadow: 0 0 1px black;
    background-color: #c8927d;
}

.topicSelect button{
    padding: 0.5rem 1rem;
}

.topicSelect button{
    padding: 0.5rem 1rem;
    width: 6.5rem;
}

.topicWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.isLoading{
    text-align: center;
    margin: 30vh 0;
}


@media only screen and (min-width: 768px){
    .exploreWrapper{
        margin: 3rem 10rem 0;
    }
    .articleWrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    select{
        width: 45%;
    }
    .topicSelect button{
        padding: 0.5rem 6rem;
        width: unset;
    }
}