.commentWrapper{
    display: flex;
    align-items: center;
    border-top: 0.5px solid grey;
    justify-content: space-evenly;
}

.commentWrapper img{
    height: 2.5rem;
    width: 2.5rem;
}

.commentMain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0.5rem 1rem 1rem;
    width: 18rem;
}

.commentMain p {
    margin: 0.25rem 0;
    line-height: 1rem;
}

.commentAuthor{
    font-weight: bolder;
    font-size: 0.75rem;
}

.commentBody{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.75rem;
}

.commentDate{
    font-size: 0.65rem;
}

.voteWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
}

.voteWrapper button{
    background-color: white;
    color: black;
    font-weight: bolder;
    box-shadow: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.voteWrapper p{
    margin: 0.35rem;
    font-size: 0.85rem;
}

.optionsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editButton{
    background-color: white;
    box-shadow: none;
    padding: 0.4rem 0.3rem;
}

.deleteButton{
    background-color: white;
    box-shadow: none;
    padding: 0.4rem 0.3rem;
}

.editButton img{
    height: 1.2rem;
}

.deleteButton img{
    height: 1.1rem;
}

@media only screen and (min-width: 768px){
    .commentWrapper{
        justify-content: space-evenly;
    }
    .commentBody{
        font-size: 1rem;
        line-height: 1.6rem;
    }
}
