.commentWrapper{
    display: flex;
    align-items: center;
    border-top: 0.5px solid grey;
}

.commentWrapper img{
    height: 2.5rem;
    width: 2.5rem;
}

.commentMain{
    display: flex;
    flex-direction: column;
    margin: 1rem 0.5rem;
}

.commentMain p{
    margin: 0 0.5rem 0.5rem 0.5rem;
}

.commentAuthor{
    font-weight: bolder;
    font-size: 0.75rem;
}

.commentBody{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.75rem;
}

.commentDate{
    font-size: 0.5rem;
}

.voteWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
}

.voteWrapper button{
    background-color: white;
    color: black;
    font-weight: bolder;
    box-shadow: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.voteWrapper p{
    margin: 0.25rem;
    font-size: 0.85rem;
}