.homeWrapper{
    margin: 1rem;
}

.titleWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8rem;
}

.userAvatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
}

.carousel{
    margin: 2rem 0;
}

.imageCarousel{
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline-start: 0;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carouselTile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 100%;
    margin: 0 0.5rem;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
}

.tileDetails{
    display: flex;
    align-items: center;
    justify-content:left;
}

.tileDetails img{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    border-radius: 4rem;
}

.carouselAuthor{
    margin-block: 0;
    margin-inline: 0;
    margin: 1rem 0;
}

.imageContainer{
    position: relative;
    display: inline-block;
}

.carouselTileImage{
    display: block;
    width: 100%;
    height: 40vh;
}

.overlayText {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
}

.topics{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.topicWrapper{
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline-start: 0;
}

.topicTile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    scroll-snap-align: start;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    margin: 1.5rem auto;
}

/* .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  } */
