.homeWrapper{
    margin: 1rem 1.5rem 4rem;
}

.titleWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeWrapper h3{
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 1rem 0 0.5rem;
}

.userWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8rem;
}

.userAvatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
}

.carousel{
    margin: 0;
}

.imageCarousel{
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline-start: 0;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carouselTile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    scroll-snap-align: start;
    height: 48vh;
    width: 20rem;
    margin: 0 0.5rem;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 2px 2px 8px grey;
    /* width: 90vw; */
    height: 40vh;
    /* overflow: hidden; */
}

.imageContainer img{
    overflow: hidden;
}

.tileDetails{
    display: flex;
    align-items: center;
    margin: 0 1rem 1rem;
}

.tileDetails img{
    width: 2.5rem;
    height: 2rem;
    margin-right: 0.5rem;
    border-radius: 2rem;
}

.carouselAuthor{
    margin-block: 0;
    margin-inline: 0;
    font-size: 0.8rem;
}


.carouselTileImage{
    width: 100%;
}

.carouselTitle {
    color: black; 
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: bolder;
    text-align: left;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 1rem;
    height: 3rem;
}

.overlayText {
    position: absolute;
    top: 6rem; 
    left: 10rem; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: bolder;
    text-align: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    z-index: 3;
}

.overlayBackground{
    position: absolute;
    top: 4.5rem; 
    left: 5rem;
    padding: 3rem 5rem;
    background-color: black;
    opacity: 65%;
    z-index: 2;
}

.topics{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.topicWrapper{
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline-start: 0;
}

.topicTile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    scroll-snap-align: start;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    margin: 1.5rem auto;
    box-shadow: 2px 2px 6px grey;
}


.isLoading{
    text-align: center;
    margin: 30vh 0;
}

@media only screen and (min-width: 768px){
    .homeWrapper{
        margin: 3rem 10rem 0;
    }
    .topics{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .topicWrapper{
        display: flex;
        flex-wrap: wrap;
        /* margin: 1rem; */
        width: 100%;
        justify-content:space-between;
    }
    .topicTile{
        width: 22rem;
        height: 10rem;
    }
    .topicTile img{
        width: 100%;
        height: 100%;
    }
    .overlayText{
        top: 4rem; 
        left: 11rem; 
    }
    .overlayBackground{
        top: 3.25rem; 
        left: 6rem;
        padding: 2rem 5rem;
    }
    .homeWrapper h3{
        margin: 0;
    }
}