@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Comfortaa, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  color:#1a1a1a;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1rem;
  font-weight: bolder;
}


button {
  color: white;
  padding: 0.75rem 2rem;
  box-shadow: 2px 2px 5px grey;
  border-radius: 2px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color box-shadow 0.25s;
}

button:hover{
  background-color: #c8927d;
  color: white;
}

button:active{
  box-shadow: inset 2px 2px 5px black;
  background-color: rgb(251, 99, 11);
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
  color: black;
}

/* button:focus, */
/* button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  background-color: pink;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
  a:hover {
    color: rgb(251, 99, 11);
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
